<li class="plugin">
    <h3>
        <%=link_to h(plugin.name), plugin %>
        <%= image_tag "icon.png" %>
    </h3>

    <div class="plugin-actions">

        <%= render :partial => "download_latest", :locals => { :plugin => plugin } %>

        <ul>
        <% permitted_to? :update, plugin do %>
            <li><%= link_to 'Edit', edit_plugin_path(plugin) %></li>
        <% end %>
        <% permitted_to? :delete, plugin do %>
            <li><%= link_to 'Destroy', plugin, :confirm => 'Are you sure?', :method => :delete %></li>
        <% end %>
        </ul>
    </div>

    <div class="plugin-info">
        <dl>
            <dt>Author</dt>
            <dd><%=mail_to plugin.user.email %></dd>

            <% if plugin.homepage.present? %>
                <dt>Homepage</dt>
                <dd><%=link_to h(plugin.homepage), plugin.homepage %></dd>
            <% end %>
        </dl>
        <p><%=h truncate(plugin.description, :length => 85) %></p>
    </div>
</li>
