<div class="plugin-info">
  <h2><%=h @plugin.name %></h2>
  <span class="author"><%= t :by %> <%= h @plugin.user.email %></span>

  <%= image_tag @plugin.screenshot.url(:thumb), :class => "screenshot"  if @plugin.screenshot.file? %>

  <div class="description"><%=h @plugin.description %></div>

  <% if @plugin.homepage.present? %>
  <p>
    <b>Homepage:</b>
    <%=h @plugin.homepage %>
  </p>
  <% end %>

  <%= render :partial => "download_latest", :locals => { :plugin => @plugin } %>

  <h3><%= t :Releases %></h3>

  <ul id="releases">
    <% @plugin.releases.each do |release| -%>
      <% content_tag_for(:li, release) do %>
        <%= link_to h(release.version), release %>
      <% end %>
    <% end %>
  </ul>

  <% permitted_to? :update, :plugins do %>
    <%= link_to 'Edit', edit_plugin_path(@plugin) %> |
    <%= link_to 'New release', new_plugin_release_path(@plugin) %> |
  <% end %>

  <%= link_to 'Back', plugins_path %>

</div>
