<h1>New release</h1>

<% semantic_form_for([@plugin, @release]) do |form| %>
  <%= form.error_messages %>

  <% form.inputs do %>
    <%= form.input :package %>
  <% end %>
  <% form.buttons do %>
    <%= form.commit_button "Create" %>
  <% end %>
<% end %>

<%= debug @plugin %>
<%= debug @release %>

<%= link_to 'Back', plugin_releases_path(@plugin) %>
