<p>
  <b>Plugin:</b>
  <%=h @release.plugin_id %>
</p>

<p>
  <b>Version:</b>
  <%=h @release.version %>
</p>

<p>
  <b>Stud.IP Minimum Version:</b>
  <%=h @release.studipMinVersion %>
</p>

<p>
  <b>Stud.IP Maximum Version:</b>
  <%=h @release.studipMaxVersion %>
</p>

<p>
  <%= link_to t(:download), @release.package.url %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', @release.plugin %>
